#intro {
    padding-right: 70px;
    padding-left: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: #002768;
    -webkit-text-stroke: rgba(0, 0, 0, 0);
    -webkit-text-stroke-width: 2px;
    paint-order: stroke fill;
    font-size: large;
}

p {
    padding-right: 70px;
    padding-left: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: #002768;
    -webkit-text-stroke: rgba(255, 255, 255, 0.5);
    -webkit-text-stroke-width: 2px;
    paint-order: stroke fill;
    font-size: large;
}

h2 {
    padding-right: 70px;
    padding-left: 70px;
    font-family:Impact, Arial, Helvetica, sans-serif;
    -webkit-text-stroke: rgba(255, 255, 255, 0);
    -webkit-text-stroke-width: 3px;
    paint-order: stroke fill;
    font-size: large;
}

ul {
    padding-right: 70px;
    padding-left: 70px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke: rgba(0, 0, 0, 0);
    -webkit-text-stroke-width: 2px;    
    color: #002768;
    paint-order: stroke fill;
    font-size: large;
}

#welcome {
    padding-right: 70px;
    padding-left: 70px;
    color: #002768;
    -webkit-text-stroke: rgba(255, 255, 255, 1);
    -webkit-text-stroke-width: 4px;
    paint-order: stroke fill;
    font-family:Impact, Arial, Helvetica, sans-serif;
}

#platform {
    padding-top: 30px;
    padding-right: 70px;
    padding-left: 70px;
    color: #002768;
    -webkit-text-stroke: rgba(255, 255, 255, 0);
    -webkit-text-stroke-width: 4px;
    paint-order: stroke fill;
    font-family:Impact, Arial, Helvetica, sans-serif;
}

a {
    -webkit-text-fill-color: #c00a32;
    -webkit-text-stroke: rgba(255, 255, 255, 0.5);
    -webkit-text-stroke-width: 2px;
    font-weight: bold;        
    paint-order: stroke fill;
}

.container-fluid{
    -webkit-text-fill-color: #002768;
    -webkit-text-stroke: rgba(255, 255, 255, 0.5);
    -webkit-text-stroke-width: 4px;
    font-weight: bold;    
    paint-order: stroke fill;
    background-color: #f8f9fa;
}

#row-2{
    background-color: #ffffff;
}

#row-1{
    background-color: #f8cc02;
}

#row-3{
    background-color: #c00a32;
}

.container-fluid-1{
    -webkit-text-fill-color: #f8cc02;
    font-weight: bold;    
    paint-order: stroke fill;
    background-color: #000000;
}

#row-4{
    background-color: #002768;
}

#run {
    padding-right: 70px;
    padding-left: 70px;
    color: #f8cc02;
    -webkit-text-stroke: rgba(0, 0, 0, 1);
    -webkit-text-stroke-width: 8px;
    paint-order: stroke fill;
    font-family:Impact, Arial, Helvetica, sans-serif;
}

h3 {
    padding-right: 70px;
    padding-left: 70px;
    font-family:Impact, Arial, Helvetica, sans-serif;
    -webkit-text-fill-color: #f8cc02;
    -webkit-text-stroke: rgba(0, 0, 0, 1);
    -webkit-text-stroke-width: 4px;
    paint-order: stroke fill;
    font-size: large;
}

.container-fluid-2{
    -webkit-text-fill-color: #ffffff;
    font-weight: bold;    
    paint-order: stroke fill;
    background-color: #000000;
}

.container-fluid-3{
    -webkit-text-fill-color: #000000;
    font-weight: bold;    
    paint-order: stroke fill;
    background-color: #f8cc02;
}

#pirate-code-link {
    -webkit-text-fill-color: white;
}

.navbar-nav{
    padding-right: 0;
}
